@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
#logo{
    width:10%
}
#products{
    align-items:center
}
.product_details{
    padding: 2.8rem 4rem;
}
#products h1{
    font-size: 3.1rem;
    font-family: 'Tangerine';
    font-weight: bolder;
    text-shadow: 1px 1px 2px;
    padding-left: 1.5rem;
    padding-top: 1.2rem;
}
.product_details p{
    margin-left: 6rem;
    font-family: 'Poppins';
    text-align: justify;
    letter-spacing: 2px;
    font-size: 0.9rem;
    line-height: 1.8rem;
    margin-top: 2rem;
}
.btn1{
    float: right;
    margin-top: 2rem;
    width: 8rem;
    height: 3rem;
    background: #27ac31db;
    border: none;
    outline: 2px solid #27ac31db;
    border-radius: 0;
    transition:outline-offset 500ms linear;
    transition: background-color 500ms ease-in-out;
}
.btn1:hover{
    
}